# You need to create 4 .env. files:
# .env.development, .env.production, .env.e2e, and .env.test
# Check the src/env/configs.ts file for more details on how we handle environments


SESSION_SECRET=
PORT=
DATABASE_URL=

# Docker variables
DB_USER=
DB_NAME=
DB_PASSWORD=